<div class="container" style="margin-top: 15px">
  <h1 style="font-family: 'Abril Fatface', serif; font-size: 30px">
    <b>Editors List</b>
  </h1>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let e of editors" style="margin-bottom: 5px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b> {{ e.FirstName }} {{ e.LastName }}</b>
        </mat-panel-title>
        <mat-panel-description>
          {{ e.Email }}

          <mat-icon>how_to_reg</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row g-2">
        <div class="col-lg-11">
          <dl class="row">
            <dt class="col-sm-2">User Name</dt>
            <dd class="col-sm-10">
              <b>: </b>{{ e.FirstName }} {{ e.LastName }}
            </dd>

            <dt class="col-sm-2">Email Id</dt>
            <dd class="col-sm-10"><b>: </b>{{ e.Email }}</dd>

            <dt class="col-sm-2">Mobile</dt>
            <dd class="col-sm-10"><b>: </b>{{ e.Mobile }}</dd>

            <dt class="col-sm-2">Gender</dt>
            <dd class="col-sm-10"><b>: </b>{{ e.Gender }}</dd>

            <dt class="col-sm-2">Date of Birth</dt>
            <dd class="col-sm-10"><b>: </b>{{ e.Dob | date }}</dd>

            <!-- <dt class="col-sm-2">Book Description</dt>
      <dd class="col-sm-10" style="text-align: justify;"><b>: </b>qwertyui</dd> -->
          </dl>
        </div>

        <div class="col-lg-1">
          <button
            mat-fab
            aria-label="Example icon button with a bookmark icon"
            style="background: rgba(0, 128, 0, 0.649)"
            (click)="openEdit(e)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <br />
          <br />

          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
            (click)="openDelete(e)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
