<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toogleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo py-2">
    <img src="../../assets/images/exploresy logo 1.png" alt="logo" />
  </div>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->

  <button
    mat-stroked-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    *ngIf="user.authorLogin() || user.editorLogin() || user.adminLogin()"
  >
    {{ FirstName }} {{ LastName }} <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editProfile()">
      <mat-icon>face</mat-icon>
      <span>Profie Edit</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- <mat-toolbar style="height:5px;">
  <mat-toolbar-row class="justify-content-between">
    <button mat-button (click)="toogleSidebar()">
      <mat-icon>menu</mat-icon>
      <div class="logo py-2">
        <img *ngIf="logo" src="../../assets/images/exploresy logo 1.png" alt="logo">
      </div>
    </button>
    <div class="row mr-2 ml-auto ">
      <ul>
        <li>
          <button mat-button [mat-menu-trigger-for]="menu" class="user mt-2 d-flex align-item-cter">
            <img src="../../assets/images/user-avatar.png" alt="" class="user-image mr-1 p-2">
            User Name
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-list-item>
              <mat-icon>exit_to_app</mat-icon>
              LogOut
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->
