<div class="container">
  <h1
    mat-dialog-title
    style="text-align: center; font-family: 'Abril Fatface', serif"
  >
    Add Category
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="roleEditform">
      <mat-form-field appearance="outline">
        <mat-label>Role Id</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="1" >
            Super Admin
          </mat-option>
          <mat-option [value]="2">Editor</mat-option>
          <mat-option [value]="3">User</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button
      mat-raised-button
      color="primary"
      (click)="addCategory()"
      style="width: 20%"
    >
      Edit
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  </div>
</div>

