.example-card {
  max-width: auto;
  margin-top: 25px;
}

// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }

.example-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 20px;
  right: 20px;
}