<section class="category min-vh-100">
  <div class="container-lg">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4">
      <div class="col cat-icon">
        <a class="card-text" routerLink="#">
          <img src="../../assets/images/bg3.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg2.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg1.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg3.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg3.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg3.jpg" />
          <br />
          Category 1
        </a>
      </div>
      <div class="col cat-icon">
        <a routerLink="#">
          <img src="../../assets/images/bg3.jpg" />
          <br />
          Category 1
        </a>
      </div>
    </div>
  </div>
</section>
<div>
  <button
    class="example-button-container"
    mat-fab
    aria-label="Example icon button with a bookmark icon"
    style="background-color: rgba(26, 26, 188, 0.768)"
    (click)="addCategory()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
