<div class="container justify-content-center">
  <h1
    mat-dialog-title
    style="text-align: center; font-family: 'Abril Fatface', serif"
  >
    Edit Your Ideas💡
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="postform">
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Select the Content Category</mat-label>
            <mat-select formControlName="category" [(ngModel)]="PostData.Category">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.Title"
                >{{ category.Title }}</mat-option
              >
            </mat-select>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            <mat-error
              *ngIf="AllControlsForPost?.category?.errors?.['required']&&postsub||AllControlsForPost['category']?.touched"
            >
              Content Category required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>What's in your mind?</mat-label>
            <textarea
              matInput
              placeholder="What's in your mind?"
              formControlName="content"
              [(ngModel)]="PostData.Content"
            >
            </textarea>

            <mat-error
              *ngIf="AllControlsForPost?.content?.errors?.['required'] && postsub||AllControlsForPost['content']?.touched"
            >
              Field cannot be empty
            </mat-error>
          </mat-form-field>

          <!-- <div class="mb-3">
            <input
              type="file"
              class="form-control form-control-lg"
              aria-label="file example"
              formControlName="postimage"
              accept="image/*"
              [class.is-valid]="url != ''"
              (change)="selectFile($event)"
            />
            <mat-hint style="font-size: 10px; margin-top: 3px; float: right"
              >Browse to upload an image (if required).</mat-hint
            > -->
            <!-- <mat-error
              style="font-size: 10px; margin-left: 11px; margin-top: 3px"
              *ngIf="AllControlsForPost['postimage']?.touched && AllControlsForPost?.postimage?.errors?.['required']"
            >
              Category Image required
            </mat-error> -->
          <!-- </div> -->
        </div>
        <!-- <div class="col-sm-12">
          <img [src]="url" *ngIf="url != ''" alt="Browse a Category Image" />
          <img src="../../assets/images/{{PostData.Image}}" *ngIf="PostData.Image != ''" alt="Browse a Category Image" />
        </div> -->
      </div>
    </form>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button
      mat-raised-button
      color="primary"
      (click)="addPost()"
      style="width: 75px"
    >
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="closeEdit()">Cancel</button>
  </div>
</div>

