.signupCard{
    border: 1px solid blue;
    border-radius:0.7rem;
    margin: 5px;
}

mat-form-field{
    width: 100%;
}

button{
    margin: 5px 0;
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
