<mat-card class="signupCard row g-3">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmitsignup(signupForm)"
    class="row g-3"
  >
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          [(ngModel)]="user.FirstName"
        />
        <mat-icon matSuffix>face</mat-icon>
        <mat-error
          *ngIf="AllControlsForSignup?.['firstName']?.errors?.['required']&&signupSubmitted||AllControlsForSignup['firstName']?.touched"
        >
          First Name required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          [(ngModel)]="user.LastName"
        />
        <mat-icon matSuffix>face</mat-icon>
        <mat-error
          *ngIf="AllControlsForSignup?.['lastName']?.errors?.['required']&&signupSubmitted||AllControlsForSignup['lastName']?.touched"
        >
          Last Name required
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <mat-radio-group aria-label="Select an option" formControlName="gender">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <span style="margin: 5px;"></span>
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-error *ngIf="AllControlsForSignup?.gender?.errors?.['required']&&signupSubmitted">Gender
                    required
                  </mat-error>
                </mat-radio-group> -->

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" [(ngModel)]="user.Gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.field">
            {{ gender.field }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="AllControlsForSignup?.['gender']?.errors?.['required']&&signupSubmitted||AllControlsForSignup['gender']?.touched"
        >
          Gender required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dob"
          [(ngModel)]="user.Dob"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-error
          *ngIf="AllControlsForSignup?.['dob']?.errors?.['required']&&signupSubmitted||AllControlsForSignup['dob']?.touched"
        >
          Date of Birth required
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input
          matInput
          placeholder="Mobile Number"
          formControlName="mobile"
          [(ngModel)]="user.Mobile"
          type="number"
        />
        <mat-icon matSuffix>smartphone</mat-icon>
        <mat-error
          *ngIf="AllControlsForSignup?.['mobile']?.errors?.['pattern']&&signupSubmitted||AllControlsForSignup['mobile']?.touched"
          >Invalid Mobile Number
        </mat-error>
        <mat-error
          *ngIf="AllControlsForSignup?.['mobile']?.errors?.['required']&&signupSubmitted"
          >Mobile Number required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [(ngModel)]="user.Email"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="AllControlsForSignup?.['email']?.errors?.['pattern']&&signupSubmitted||AllControlsForSignup['email']?.touched"
          >Invalid Email
        </mat-error>
        <mat-error
          *ngIf="AllControlsForSignup?.['email']?.errors?.['required']&&signupSubmitted"
        >
          Email required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          [type]="signupHide ? 'password' : 'text'"
          formControlName="password"
          [(ngModel)]="user.Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="signupHide = !signupHide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="signupHide"
        >
          <mat-icon>{{
            signupHide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error
          *ngIf="AllControlsForSignup?.['password']?.errors?.['minlength']&&signupSubmitted||AllControlsForSignup['password']?.touched"
          >Password length should be minimum 8</mat-error
        >
        <mat-error
          *ngIf="AllControlsForSignup?.['password']?.errors?.['required']&&signupSubmitted"
        >
          Password required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="Confirm Password"
          [type]="signupHideC ? 'password' : 'text'"
          formControlName="cpassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="signupHideC = !signupHideC"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="signupHideC"
        >
          <mat-icon>{{
            signupHideC ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error
          *ngIf="AllControlsForSignup?.['cpassword']?.errors?.['required']&&signupSubmitted||AllControlsForSignup['cpassword']?.touched"
        >
          Confirm Password required
        </mat-error>
        <mat-error
          *ngIf="AllControlsForSignup?.['cpassword']?.errors?.['passwordMismatch']&&signupSubmitted"
        >
          Confirm Password mismatch</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <div style="text-align: center">
        <button mat-raised-button color="primary">SignUp</button>
      </div>
    </div>
  </form>
</mat-card>
